In [37]:
name = ["nis", "man", "sri", "ven"]
print(name)
# message = "hello "+ name[1].title() + " hwr!"
# print(message)
# message = "hello "+ name[2].title() + " hwr!"
# print(message)
# name[2] = "prj"
# print(name)
# name.append("ujr")
# print(name)
# popped_name = name.pop(2)
# print(name)
# print(popped_name)
# name.copy()
# print(name)
# name.insert(0,"xxx")
# print(name)
# print(len(name))
# name.sort()
# print(name)
# name.sort(reverse = True)
# print(name)
# print(sorted(name))
# del(name[1])
# print(name)
# name.remove("ven")
# print(name)
for i in name:
    print("hello", i.title())
    print("hru", i.upper(),"\n")
print("everuthing is ok am absolutely fine")

['nis', 'man', 'sri', 'ven']
hello Nis
hru NIS

hello Man
hru MAN

hello Sri
hru SRI

hello Ven
hru VEN

everuthing is ok am absolutely fine

In [21]:
filename = "08sep.txt"
with open(filename, 'w') as file_object:
    file_object.write("I love programming.")
    file_object.write("\nI love python.")

In [23]:
for n in list(range(0,21,2)):
    print(n)
# multiple = []
# for i in  list(range(1,11)):
#     multiple.append(i*3)
# print(multiple)
# name = []
# for n in list(("nis", "man", "sri", "ven")):
#     name.append(n)
#     print("my name is:",n)
# print(name)
multipliers_5 = list(value*5 for value in range(1,11))
print(multipliers_5)
for i in range(1,10):
    print(i*5)

0
2
4
6
8
10
12
14
16
18
20
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
5
10
15
20
25
30
35
40
45

In [83]:
# info = {"fnam":"man",  "lnam":"reddy", "age":32, "city":"hyd"}
# print(info["fnam"])
# print(info["lnam"])
# print(info["age"])
# print(info["city"])
name = {"man":32, "nis":31, "sri":30}
for nam,age in name.items():
    print("name is:",nam,"and age is:",age)
print("\nold dict")
print(name)
print("man age is: ",name["man"])
name["man"]=35
print("\nnew dict")
print("man new age is: ",name["man"])
print(name)
# print(name.keys())
# print(name.values())
# print(name.items())
# print(name.get("sri"))
# for i in name:
#     print("hello",i)

name is: man and age is: 32
name is: nis and age is: 31
name is: sri and age is: 30

old dict
{'man': 32, 'nis': 31, 'sri': 30}
man age is:  32

new dict
man new age is:  35
{'man': 35, 'nis': 31, 'sri': 30}

In [27]:
a = "hello" ; b = "java" ; c = "ruby"
print(a)
print(b)
print(c)
print(a.split())

hello
java
ruby
['hello']

In [91]:
user = int(input("how many members are there in that table: "))
if user >= 8:
    print("the talbe is reserved")
elif user >= 6:
    print("table neither reserved nor empty")
else:
    print('the table is empty')

how many members are there in that table: 5
the table is empty

In [98]:
user1 = input("enter a number: ")
user2 = int(user1)
if user2 % 10 == 1:
    print("no. is multiplied by 10")
else:
    print("no. is not multiplied by 10")

enter a number: 91
no. is multiplied by 10

In [107]:
a = "hello world"
print(a.index("l"))
print(a[1:3])
print(len(a))
print(a.count("l"))
print(len(a) // a.count("l"))

2
el
11
3
3

In [5]:
print("survey on my pets")
x = input("enter your pet name:")
if x == "dog":
    print("i have a dog")
elif x == "cat":
    print("i have a cat")
elif x == "rat":
    print("i have rat")
else:
    print("i have no pets")

survey on my pets
enter your pet name:rat
i have rat

In [30]:
a = "hello python!" 
b = "hello python!"
print(a.title())
print(a.capitalize())
print(a.upper() + " " + b.lower())
print(a.replace("l","z"))
print(a.partition("l"))
print(a.split())
print(b.encode())
print(b.endswith("l"))

Hello Python!
Hello python!
HELLO PYTHON! hello python!
hezzo python!
('he', 'l', 'lo python!')
['hello', 'python!']
b'hello python!'
False

In [18]:
num = "hello python hw r u!"
n1 = "123"
num.join(n1)

'1hello python hw r u!2hello python hw r u!3'

In [32]:
b = "hello python!" 
a = "hello python!" 
print(id(a))
print(id(b))

2059290073584
2059290197168

In [69]:
a = "hello python!" 
print(len(a))
print(a.index("y"))
print(a.count("o"))
print(a.isalpha())
for i in a:
    if i == "l":
        break
    print(i,end="!")

13
7
2
False
h!e!

In [68]:
for i in a:
    print(i,end="!")
    if i == "l":
        break

h!e!l!

In [78]:
cl = ["service hub"]
na = ["nis","man","ven"]
for a in cl:
    for b in na:
#        if b == "man":
#             break
        print(b.upper(),"belongs to",a.title(),sep="$")
#         if b == "man":
#             break

NIS$belongs to$Service Hub
MAN$belongs to$Service Hub
VEN$belongs to$Service Hub

In [80]:
def user(name):
    print("hello",name.title())
user("man")
user("sri")
user("ven")
user("nis")

hello Man
hello Sri
hello Ven
hello Nis

In [2]:
def user(name,age):
    for i in name:
        for a in age:
            print("hi",i.upper(),"ur age",a)
    
name = ["man","nis","sri","ven"]
age = [22,25,26,28]
user(name,age)
# user("sri",27)
# user("ven",22)
# user("nis")

hi MAN ur age 22
hi MAN ur age 25
hi MAN ur age 26
hi MAN ur age 28
hi NIS ur age 22
hi NIS ur age 25
hi NIS ur age 26
hi NIS ur age 28
hi SRI ur age 22
hi SRI ur age 25
hi SRI ur age 26
hi SRI ur age 28
hi VEN ur age 22
hi VEN ur age 25
hi VEN ur age 26
hi VEN ur age 28

In [133]:
n = 2
x = lambda n : a*n
print(x(30))

90

In [121]:
x = lambda a, b : a%b
print(x(10,3))

1

In [144]:
from math import *
def area(r):
    A = pi*r**2
    print("area of circle is:",A)
area(2)
area(0)

area of circle is: 12.566370614359172
area of circle is: 0.0

In [166]:
a = "java" ; b = "python" ;c = 3
print("am learing {}&{}".format(a,b))
print("am learing {a}&{b}".format(a="c",b="ruby"))
print("am learing {b}&{a}".format(a="c",b="ruby"))
print("am learing %s&%s from past %i years" %(a,b,c))
print(r"am learing %s&%s from past %i years" %(a,b,c))

am learing java&python
am learing c&ruby
am learing ruby&c
am learing java&python from past 3 years
am learing java&python from past 3 years

In [169]:
print("hello\tpython")
print("hello\n\tpython")
print(r"hello\tpython")

hello	python
hello
	python
hello\tpython

In [ ]:
i = 2
while i = 5:
    print(i)
    i += 1

In [48]:
a = '  hello python'
b = ' hello   '
print(a.strip("   hon"))
print(a.strip())
print(b.rstrip())
print(b.lstrip())
print(b.strip())
print(b.strip("h"))

ello pyt
hello python
 hello
hello
hello
 hello

In [4]:
name = ["ven", "nis", "man", "sri"]
print(name)
message = "hello", name[1].title() ,"hwr!"
print(message)

['ven', 'nis', 'man', 'sri']
('hello', 'Nis', 'hwr!')

In [6]:
name = ["ven", "nis", "man", "sri"]
print(name)
message = ["hello", name[1].title() ,"hwr!"]
print(message)
print("hello", name[0].upper() ,"hwr!")

['ven', 'nis', 'man', 'sri']
['hello', 'Nis', 'hwr!']
hello VEN hwr!

In [22]:
a = "\n lets start the car: "
a += "\n please stop the car by entering 'stop': "
m = "123"
while m != "start":
    m = input(m)
    print(m)

1231
1
1123
123
123start
start

In [38]:
print("everyones details:\n")
def greet(name1="sri",age=21):
    print("hello",name1)
    print(name1,"age is:",age,)
    print("all are working on sw\n")
greet()
greet("ven",32)
greet("raj",26)
greet("man")
greet("nis",23)
print("so we have everyones's name & age")

everyones details:

hello sri
sri age is: 21
all are working on sw

hello ven
ven age is: 32
all are working on sw

hello raj
raj age is: 26
all are working on sw

hello man
man age is: 21
all are working on sw

hello nis
nis age is: 23
all are working on sw

so we have everyones's name & age

In [103]:
def greet(names,ages):
    for name in names:
        for age in ages:
            print(name,"age is:",age)
            if age != 21:
                print("age is sufficient")
n = ["man","nis","ven"] 
a = [20,21,22]
greet(n,a)

man age is: 20
age is sufficient
man age is: 21
man age is: 22
age is sufficient
nis age is: 20
age is sufficient
nis age is: 21
nis age is: 22
age is sufficient
ven age is: 20
age is sufficient
ven age is: 21
ven age is: 22
age is sufficient

In [77]:
names = ["nis","man","sri"]
ages = [30,29,33]
languages = ["java","python","julia"]
for name in names:
    for age in ages:
        for language in languages:
            print(name,"present age is:",age,"and he knows",language)

nis present age is: 30 and he knows java
nis present age is: 30 and he knows python
nis present age is: 30 and he knows julia
nis present age is: 29 and he knows java
nis present age is: 29 and he knows python
nis present age is: 29 and he knows julia
nis present age is: 33 and he knows java
nis present age is: 33 and he knows python
nis present age is: 33 and he knows julia
man present age is: 30 and he knows java
man present age is: 30 and he knows python
man present age is: 30 and he knows julia
man present age is: 29 and he knows java
man present age is: 29 and he knows python
man present age is: 29 and he knows julia
man present age is: 33 and he knows java
man present age is: 33 and he knows python
man present age is: 33 and he knows julia
sri present age is: 30 and he knows java
sri present age is: 30 and he knows python
sri present age is: 30 and he knows julia
sri present age is: 29 and he knows java
sri present age is: 29 and he knows python
sri present age is: 29 and he knows julia
sri present age is: 33 and he knows java
sri present age is: 33 and he knows python
sri present age is: 33 and he knows julia

In [89]:
dicts = {"nis":33,"ven":25,"man":33}
for k,v in dicts.items():
    print("name is",k,"and age is\n\t",v,"\n")

name is nis and age is
	 33

name is ven and age is
	 25

name is man and age is
	 33

In [100]:
x = {
    "man":"pulsar", 
    "sri":"passion", 
    "nis":"activa",
    "nar":"ktm"
    }
names = ["ven","nis","man"]
for name,veh in x.items():
    print(name,"having",veh)
    
    if name != "nis":
        print(name,"fav bike is:",veh)

man having pulsar
man fav bike is: pulsar
sri having passion
sri fav bike is: passion
nis having activa
nar having ktm
nar fav bike is: ktm

In [109]:
a = 1 ; b = 4.0
print(int(a)+b)

5.0

In [113]:
byke = []
# byke.append("yamaha")
# byke.append("pulsar")
# byke.append("tvs")
# print(byke)
bykes = ["re","ktm","suzuki"]
byke.append(bykes)
# bykes.append(byke)
print(byke)
# print(bykes)

[['re', 'ktm', 'suzuki']]

In [ ]:
print("hello {} am learning {}".format("nis","java"))

In [125]:
x = list(range(1,101,2))
print(x)
print(max(x))
print(min(x)) 
sum(x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
99
1

2500

In [144]:
mobiles = ["nokia","apple","samsung","xiomi"]
print("hello mobile world!\n")
for mobile in mobiles:
    if "re" not in mobiles:
        print(mobile.upper())
    else:
        print(mobile.title())
    print("am presently using",mobile)

hello mobile world!

NOKIA
am presently using nokia
APPLE
am presently using apple
SAMSUNG
am presently using samsung
XIOMI
am presently using xiomi